.content-container {
  width: 100%;
  min-height: 80vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.xp-projects-square {
  border: 1.5px solid #14b8a6;
  transition: ease-out 0.15s;
  cursor: pointer;
}
.xp-projects-square:hover {
  border: 1.5px solid #14b8a6;
  background: transparent;
  transition: ease-in 0.15s;
}

.photo-area-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-picture-border {
  position: absolute;
  border-radius: 50%;
  height: 26rem;
  width: 26rem;
  background-clip: content-box;
  animation: spin 15s linear infinite;
  border: 3px dashed #14b8a6;
}

.profile-picture {
  height: 25rem;
  width: 25rem;
  object-fit: cover;
  border-radius: 50%;
}

.about-me-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.experience-text-container {
  width: 80%;
  max-width: 30rem;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}

@keyframes spin {
  100% {
    transform: rotateZ(360deg);
  }
}

@media (max-width: 880px) {
  .profile-picture-border {
    height: 20rem;
    width: 20rem;
  }

  .profile-picture {
    height: 20rem;
    width: 20rem;
  }
}

@media (max-width: 450px) {
  .profile-picture-border {
    height: 15rem;
    width: 15rem;
  }

  .profile-picture {
    height: 15rem;
    width: 15rem;
  }
}

@media (max-width: 690px) {
  .content-container {
    flex-direction: column;
  }
  .photo-area-container {
    width: 100%;
  }

  .about-me-container {
    width: 100%;
  }
}
