.grid-container {
  width: 90%;
  margin-top: 5rem;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.experience-info {
  width: 80%;
  max-width: 50rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 2rem;
  color: white;
  margin-top: 3rem;
}
