@tailwind base;
@tailwind components;
@tailwind utilities;

.main-background {
  background-color: #172554;
  background-image: radial-gradient(#0c4a6e 0.5px, transparent 0.5px),
    radial-gradient(#0c4a6e 0.5px, #172554 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;
}

.isolator {
  width: 70%;
  height: 0.1rem;
  color: #14b8a6;
  background-color: #14b8a6;
  border: #14b8a6;
}

* {
  color: white;
}
