@tailwind base;
@tailwind components;
@tailwind utilities;

.main-background {
  background: rgb(17, 17, 17);
  background: linear-gradient(
    90deg,
    rgba(17, 17, 17, 1) 0%,
    rgba(45, 45, 45, 1) 50%,
    rgba(17, 17, 17, 1) 100%
  );
}

.isolator {
  width: 70%;
  height: 0.1rem;
  color: #14b8a6;
  background-color: #14b8a6;
  border: #14b8a6;
}

.main-page-container {
  animation: main-page-animation 1s;
}

@keyframes main-page-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #111111;
}

::-webkit-scrollbar-track {
  border-radius: 5px;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #14b8a6;
}
::-webkit-scrollbar-thumb:active {
  background-color: #149d8d;
}
