.flip-card {
  background-color: transparent;
  width: 20rem;
  height: 27rem;
  perspective: 1000px;
  font-family: sans-serif;
  position: relative;
  overflow: hidden;
  border-radius: 1rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  color: white;
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  margin: 0;
}

.flip-card-inner {
  border-radius: 1rem;
  position: absolute;
  width: 90%;
  height: 90%;
  text-align: center;
  transition: transform 0.5s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  border-radius: 1rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 1rem;
  color: white;
}

.flip-card-back {
  transform: rotateY(180deg);
}

.card-back-inner-content {
  width: 100%;
  height: 100%;
  padding: 1rem;
}

.card-back-title {
  text-align: start;
  font-size: 1.2rem;
  font-weight: bold;
  color: white;
}
.card-back-stack {
  color: white;
  width: 100%;
  padding-left: 1rem;
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-start;
}

.card-back-technology {
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  margin-top: 0.2rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  width: fit-content;
  border-radius: 1rem;
  backdrop-filter: blur(25px) saturate(100%);
  -webkit-backdrop-filter: blur(25px) saturate(100%);
  background-color: rgba(17, 25, 40, 0.65);
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.card-back-feats-content {
  text-align: start;
  overflow-y: scroll;
  border-radius: 0.3rem;
  backdrop-filter: blur(25px) saturate(100%);
  -webkit-backdrop-filter: blur(25px) saturate(100%);
  background-color: rgba(17, 25, 40, 0.65);
  border: 1px solid rgba(255, 255, 255, 0.125);
}

.card-back-feats-content::-webkit-scrollbar {
  width: 5px;
  background-color: #4b4b4b;
  border-radius: 5px;
}

.card-back-feats {
  font-size: 0.8rem;
  margin-left: 0.3rem;
}

.waves-container {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
}

.wave {
  position: absolute;
  width: 540px;
  height: 700px;
  opacity: 0.6;
  left: 0;
  top: 0;
  margin-left: -50%;
  margin-top: -60%;
  background: linear-gradient(744deg, #14b8a6, #14b8a6 60%, #00ddeb);
}

.wave:nth-child(2),
.wave:nth-child(3) {
  top: 210px;
}

.playing .wave {
  border-radius: 40%;
  animation: wave 3000ms infinite linear;
}

.wave {
  border-radius: 40%;
  animation: wave 55s infinite linear;
}

.playing .wave:nth-child(2) {
  animation-duration: 4000ms;
}

.wave:nth-child(2) {
  animation-duration: 50s;
}

.playing .wave:nth-child(3) {
  animation-duration: 5000ms;
}

.wave:nth-child(3) {
  animation-duration: 45s;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
