.nav {
  z-index: 3;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 50%;
  transform: translateX(50%);
  bottom: 2rem;
  width: 22rem;
  height: 4.3rem;
  border-radius: 3rem;
}

.ul {
  display: flex;
  gap: 2.5rem;
}

.glass-effect {
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border: 1px solid rgba(255, 255, 255, 0.125);
}

@media (max-width: 370px) {
  .nav {
    width: 90%;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .ul {
    justify-content: space-around;
    gap: 0.5rem;
    width: 100%;
  }
}
